@font-face {
  font-family: "iconfont"; /* Project id 3155667 */
  src: url('iconfont.woff2?t=1642749413226') format('woff2'),
       url('iconfont.woff?t=1642749413226') format('woff'),
       url('iconfont.ttf?t=1642749413226') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-fenping:before {
  content: "\e69d";
}

.icon-iconfontzhizuobiaozhun0247:before {
  content: "\e6a3";
}

.icon-danpingyulan:before {
  content: "\e628";
}

.icon-gonggeshitu:before {
  content: "\e6d7";
}

