<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.rva.framework.mapper.RvaObjectCommentLikeMapper">
    
    <resultMap type="RvaObjectCommentLike" id="RvaObjectCommentLikeResult">
        <result property="id"    column="id"    />
        <result property="objId"    column="obj_id"    />
        <result property="objIdValue"    column="obj_id_value"    />
        <result property="userId"    column="user_id"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectRvaObjectCommentLikeVo">
        select id, obj_id, obj_id_value, user_id, create_time, update_time from rva_object_comment_like
    </sql>

    <select id="selectRvaObjectCommentLikeList" parameterType="RvaObjectCommentLike" resultMap="RvaObjectCommentLikeResult">
        <include refid="selectRvaObjectCommentLikeVo"/>
        <where>  
            <if test="objId != null  and objId != ''"> and obj_id = #{objId}</if>
            <if test="objIdValue != null  and objIdValue != ''"> and obj_id_value = #{objIdValue}</if>
            <if test="userId != null "> and user_id = #{userId}</if>
        </where>
    </select>
    
    <select id="selectRvaObjectCommentLikeById" parameterType="Long" resultMap="RvaObjectCommentLikeResult">
        <include refid="selectRvaObjectCommentLikeVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertRvaObjectCommentLike" parameterType="RvaObjectCommentLike" useGeneratedKeys="true" keyProperty="id">
        insert into rva_object_comment_like
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="objId != null">obj_id,</if>
            <if test="objIdValue != null">obj_id_value,</if>
            <if test="userId != null">user_id,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="objId != null">#{objId},</if>
            <if test="objIdValue != null">#{objIdValue},</if>
            <if test="userId != null">#{userId},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateRvaObjectCommentLike" parameterType="RvaObjectCommentLike">
        update rva_object_comment_like
        <trim prefix="SET" suffixOverrides=",">
            <if test="objId != null">obj_id = #{objId},</if>
            <if test="objIdValue != null">obj_id_value = #{objIdValue},</if>
            <if test="userId != null">user_id = #{userId},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteRvaObjectCommentLikeById" parameterType="Long">
        delete from rva_object_comment_like where id = #{id}
    </delete>

    <delete id="deleteRvaObjectCommentLikeByIds" parameterType="String">
        delete from rva_object_comment_like where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>