#set ($val1 = ${value.split(",")[0]})
#set ($val2 ="")
#if(${value.split(",").size()} >1)
    #set ($val2 =${value.split(",")[1]})
#end
#if ($val1 != "")
    ${column} > ${val1}
#end
#if ($val1 != "" && $val2 != "")
and
#end
#if ($val2 != "")
    ${column} <= ${val2}
#end
